menu "SD card config"

config SD1_MOUNT
  string "SD1 Mount"
  default "/sd1"
  help 
  Mount point within esp32 File system for onboard SD card (SD1)

config SD2_MOUNT
  string "SD2 Mount"
  default "/sd2"
  help 
  Mount point within esp32 File system for external SD card (SD2)

endmenu
