menu "Sensors Configuration"
config THERM1_GPIO
  int "Thermistor 1 GPIO"
  range 0 39
  default 36
  help
  GPIO pin for thermistor 1

config THERM2_GPIO
  int "Thermistor 2 GPIO"
  range 0 39
  default 39
  help
  GPIO pin for thermistor 2
  
config THERM1_R1
  int "Thermistor 1 R1"
  range 0 10000000
  default 10000
  help
  The resistance between the voltage source and thermistor 1 in ohms

config THERM2_R1
  int "Thermistor 2 R1"
  range 0 10000000
  default 10000
  help
  The resistance between the voltage source and thermistor 2 in ohms

# config THERM1_VS
#   float "Thermistor 1 voltage source"
#   range 0 5
#   default 3.3
#   help
#   The source voltage going into thermistor 1
#
# config THERM2_VS
#   float "Thermistor 2 voltage source"
#   range 0 5
#   default 3.3
#   help
#   The source voltage going into thermistor 2

# config THERM1_TO
#   float "Thermistor 1 ref temp"
#   range 0 300
#   default 298.15
#   help
#   The reference temperature for thermistor 1 in kelvin
#
# config THERM2_TO
#   float "Thermistor 2 ref temp"
#   range 0 300
#   default 298.15
#   help
#   The reference temperature for thermistor 2 in kelvin

config THERM1_RO
  int "Thermistor 1 ref resistance"
  range 0 10000000
  default 10000
  help
  Thermistor 1 resistance at reference temperature (in ohms)

config THERM2_RO
  int "Thermistor 2 ref resistance"
  range 0 10000000
  default 10000
  help
  Thermistor 2 resistance at reference temperature (in ohms)

config THERM1_B
  int "Thermistor 1 Beta"
  range 0 5000
  default 3575
  help
  Thermistor 1 beta value 

config THERM2_B
  int "Thermistor 2 Beta"
  range 0 5000
  default 3575
  help
  Thermistor 2 beta value

config THERM2_ATTACHED
  bool "Thermistor 2 attached"
  default false
  help
  Is Thermistor 2 physically attached

config THERM_SAMPLE_HZ
  int "Thermistor sample rate"
  default 5
  help
  The sample rate of both thermistor 1 and thermistor 2 in Hz
endmenu
